In [1]:
from pyspark.sql import SparkSession

# Iniciar a sessão Spark
# Definir um tamanho máximo de memória disponível para uso pelo driver
spark = SparkSession.builder \
    .appName("Capítulo 5") \
    .getOrCreate()

# Atribui o SparkContext à variável 'sc'
sc = spark.sparkContext

In [2]:
# Carregar os DataFrames
clientes_df = spark.read.csv("arquivos/clientes.csv", header=True, inferSchema=True)
enderecos_df = spark.read.csv("arquivos/enderecos.csv", header=True, inferSchema=True)

# Inner Join
inner_join_df = clientes_df.join(enderecos_df, clientes_df.id_endereco == enderecos_df.id_endereco)
inner_join_df.show()

# Left Outer Join
left_outer_join_df = clientes_df.join(enderecos_df, clientes_df.id_endereco == enderecos_df.id_endereco, "left_outer")
left_outer_join_df.show()

# Cross Join
cross_join_df = clientes_df.crossJoin(enderecos_df)
cross_join_df.show()

+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
|id_cliente|       nome|id_endereco| sobrenome|    data_nascimento|               email|       telefone|        celular|        cpf|genero|        data_criacao|    data_atualizacao|status|id_endereco|                 rua|numero| complemento|             bairro|          cidade|estado|                pais|      cep|
+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
|         1|     Esther|        163|  Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        163|Trecho Fernanda d...|   249|     Ap. 104|              Rocha|         Ribeiro|    PA|         Wake Island|27002-497|
|         2|    Mariane|        152|   Barbosa|2005-01-01 00:00:00|isissilva7264@exa...|(29) 25866-7664|(42) 62029-1129|38607941240|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        152|Sítio Stephany Ar...|    41|     Sobrado|             Barros|         Correia|    MG|       Países Baixos|66931-124|
|         3|Ana Vitória|         41|     Moura|1972-05-02 00:00:00|fernandesjoaquim8...|(51) 45846-4436|(79) 89364-2613|87019632440|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         41|Passarela Anthony...|     2|    Prédio 2|   das Neves Grande|  da Mota Alegre|    MG|             Albânia|80865-269|
|         4|    Leandro|         54|     Viana|1957-10-05 00:00:00|brunosilva8705@ex...|(52) 13001-4571|(61) 28192-2969|98634712591|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         54|      Favela Barbosa|     6|      Lado B|    Pires de Campos|   Duarte Grande|    MA|         Santa Lúcia|45325-317|
|         5|     Pietro|         56|    Santos|1948-11-03 00:00:00|ana-julia375761@e...|(67) 19581-9257|(71) 13107-6381|82460719396|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         56|   Recanto Fernandes|    57|   Ala Norte|             Novaes|         Costela|    ES|         Suazilândia| 66380439|
|         6|    Clarice|        113|    da Paz|1991-11-08 00:00:00|duarteotavio7887@...|(80) 38565-8710|(21) 42752-4579|80639472583|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        113|      Sítio de Gomes|     4|    Prédio 2|    Barros da Serra|da Mata de Silva|    PE|              Suécia|58024-408|
|         7|Ana Vitória|         56|  da Cunha|1998-10-06 00:00:00|caue115510@exampl...|(51) 34456-6880|(96) 28108-6057|75489310693|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         56|   Recanto Fernandes|    57|   Ala Norte|             Novaes|         Costela|    ES|         Suazilândia| 66380439|
|         8| Ana Sophia|         53|   da Mota|1965-12-18 00:00:00|moraesantonio7820...|(90) 86986-2870|(60) 19230-5176|62314759800|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         53|    Núcleo de Farias|     4|   Ala Norte|               Lima|        Silveira|    RR|            Pitcairn| 96744448|
|         9|   Leonardo|        151|    Fogaça|1983-10-21 00:00:00|teixeiraenrico929...|(85) 33246-2731|(19) 61606-3575|70893145610|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        151|Vale Marcela Moreira|    55|  Pavilhão A|  Oliveira da Serra|   Farias Alegre|    RO|              Iraque| 90103966|
|        10|    Anthony|        116|   Cardoso|1946-03-09 00:00:00|eduardo553737@exa...|(80) 58794-2587|(41) 41500-9144| 3615842707|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        116| Estrada de Teixeira|    79|    Sala 101|   Martins de Minas|           Costa|    PB|         Santa Lúcia|69274-281|
|        11|    Natália|        131|    Mendes|1945-12-15 00:00:00|maite253689@examp...|(68) 64468-8196|(38) 16566-2909|35920678186|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        131|   Vale João Azevedo|     8|     Ala Sul|            da Rosa|  Lopes da Praia|    AL|             Espanha|65564-814|
|        12|       Davi|        179|      Dias|1983-01-22 00:00:00|heloisa037394@exa...|(71) 49996-5156|(53) 91734-9403| 1672435943|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        179|      Estrada da Luz|   979|   Garagem 1|      da Cruz Verde| Campos de Minas|    RS|            Botsuana| 49103065|
|        13|   Stephany|        123|   Cardoso|1958-10-02 00:00:00|jesusesther4336@e...|(40) 96986-1005|(78) 75134-4146|63798402574|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        123|        Lagoa Duarte|   796|       Box 2|Nogueira de Correia|           Pinto|    AL|              Mônaco| 65004933|
|        14|      Laura|        118|   da Cruz|1957-07-26 00:00:00|maysaalves2332@ex...|(46) 68716-4102|(67) 88537-4949|23480765190|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        118|        Pátio Santos|    62|Vila Mariana|     Cunha do Oeste|         da Cruz|    ES|             Somália| 59904125|
|        15| Ana Sophia|        156|    da Luz|1974-07-05 00:00:00|aragaoluana6816@e...|(14) 92416-1668|(13) 73620-2140|35084619206|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        156|       Área de Souza|   381|    Mezanino|         Nascimento|           Jesus|    MG|                Laos| 66012824|
|        16|       Levi|         38|  Teixeira|1966-04-06 00:00:00|kevin309132@examp...|(92) 49813-1349|(98) 46928-5316|24073619896|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         38|  Ladeira de Rezende|    94|     Andar 2|     Viana de Minas| Gomes do Amparo|    MG|               Palau|90507-959|
|        17|      Alice|        104|  da Costa|1982-05-27 00:00:00|teixeiralucas7355...|(93) 69925-5720|(92) 64089-7342|67014389548|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        104|    Praia de Martins|    13|       Box 2|             Campos|           Ramos|    PA|Ilhas Heard e McD...| 88248273|
|        18|     Marina|        152|Nascimento|1997-06-23 00:00:00|aragaoraquel6201@...|(70) 51097-7401|(48) 26131-1471|51320647871|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        152|Sítio Stephany Ar...|    41|     Sobrado|             Barros|         Correia|    MG|       Países Baixos|66931-124|
|        19|     Danilo|         72|  Monteiro|1987-04-02 00:00:00|zviana4024@exampl...|(60) 60032-3404|(18) 69441-7413|80536241970|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         72|      Lago de Santos|   651|  Pavilhão B|          Gonçalves|Azevedo de Goiás|    RS|           Hong Kong|46404-067|
|        20|     Marina|         46|      Lima|1950-05-10 00:00:00|augusto093169@exa...|(13) 74635-9266|(75) 27979-5037|25439870610|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         46|Feira Alexia da Mota|    50|     Ap. 101|              Jesus| Melo de Peixoto|    MT|República Centro-...| 83364383|
+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
only showing top 20 rows

+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
|id_cliente|       nome|id_endereco| sobrenome|    data_nascimento|               email|       telefone|        celular|        cpf|genero|        data_criacao|    data_atualizacao|status|id_endereco|                 rua|numero| complemento|             bairro|          cidade|estado|                pais|      cep|
+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
|         1|     Esther|        163|  Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        163|Trecho Fernanda d...|   249|     Ap. 104|              Rocha|         Ribeiro|    PA|         Wake Island|27002-497|
|         2|    Mariane|        152|   Barbosa|2005-01-01 00:00:00|isissilva7264@exa...|(29) 25866-7664|(42) 62029-1129|38607941240|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        152|Sítio Stephany Ar...|    41|     Sobrado|             Barros|         Correia|    MG|       Países Baixos|66931-124|
|         3|Ana Vitória|         41|     Moura|1972-05-02 00:00:00|fernandesjoaquim8...|(51) 45846-4436|(79) 89364-2613|87019632440|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         41|Passarela Anthony...|     2|    Prédio 2|   das Neves Grande|  da Mota Alegre|    MG|             Albânia|80865-269|
|         4|    Leandro|         54|     Viana|1957-10-05 00:00:00|brunosilva8705@ex...|(52) 13001-4571|(61) 28192-2969|98634712591|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         54|      Favela Barbosa|     6|      Lado B|    Pires de Campos|   Duarte Grande|    MA|         Santa Lúcia|45325-317|
|         5|     Pietro|         56|    Santos|1948-11-03 00:00:00|ana-julia375761@e...|(67) 19581-9257|(71) 13107-6381|82460719396|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         56|   Recanto Fernandes|    57|   Ala Norte|             Novaes|         Costela|    ES|         Suazilândia| 66380439|
|         6|    Clarice|        113|    da Paz|1991-11-08 00:00:00|duarteotavio7887@...|(80) 38565-8710|(21) 42752-4579|80639472583|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        113|      Sítio de Gomes|     4|    Prédio 2|    Barros da Serra|da Mata de Silva|    PE|              Suécia|58024-408|
|         7|Ana Vitória|         56|  da Cunha|1998-10-06 00:00:00|caue115510@exampl...|(51) 34456-6880|(96) 28108-6057|75489310693|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         56|   Recanto Fernandes|    57|   Ala Norte|             Novaes|         Costela|    ES|         Suazilândia| 66380439|
|         8| Ana Sophia|         53|   da Mota|1965-12-18 00:00:00|moraesantonio7820...|(90) 86986-2870|(60) 19230-5176|62314759800|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         53|    Núcleo de Farias|     4|   Ala Norte|               Lima|        Silveira|    RR|            Pitcairn| 96744448|
|         9|   Leonardo|        151|    Fogaça|1983-10-21 00:00:00|teixeiraenrico929...|(85) 33246-2731|(19) 61606-3575|70893145610|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        151|Vale Marcela Moreira|    55|  Pavilhão A|  Oliveira da Serra|   Farias Alegre|    RO|              Iraque| 90103966|
|        10|    Anthony|        116|   Cardoso|1946-03-09 00:00:00|eduardo553737@exa...|(80) 58794-2587|(41) 41500-9144| 3615842707|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        116| Estrada de Teixeira|    79|    Sala 101|   Martins de Minas|           Costa|    PB|         Santa Lúcia|69274-281|
|        11|    Natália|        131|    Mendes|1945-12-15 00:00:00|maite253689@examp...|(68) 64468-8196|(38) 16566-2909|35920678186|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        131|   Vale João Azevedo|     8|     Ala Sul|            da Rosa|  Lopes da Praia|    AL|             Espanha|65564-814|
|        12|       Davi|        179|      Dias|1983-01-22 00:00:00|heloisa037394@exa...|(71) 49996-5156|(53) 91734-9403| 1672435943|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        179|      Estrada da Luz|   979|   Garagem 1|      da Cruz Verde| Campos de Minas|    RS|            Botsuana| 49103065|
|        13|   Stephany|        123|   Cardoso|1958-10-02 00:00:00|jesusesther4336@e...|(40) 96986-1005|(78) 75134-4146|63798402574|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        123|        Lagoa Duarte|   796|       Box 2|Nogueira de Correia|           Pinto|    AL|              Mônaco| 65004933|
|        14|      Laura|        118|   da Cruz|1957-07-26 00:00:00|maysaalves2332@ex...|(46) 68716-4102|(67) 88537-4949|23480765190|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        118|        Pátio Santos|    62|Vila Mariana|     Cunha do Oeste|         da Cruz|    ES|             Somália| 59904125|
|        15| Ana Sophia|        156|    da Luz|1974-07-05 00:00:00|aragaoluana6816@e...|(14) 92416-1668|(13) 73620-2140|35084619206|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        156|       Área de Souza|   381|    Mezanino|         Nascimento|           Jesus|    MG|                Laos| 66012824|
|        16|       Levi|         38|  Teixeira|1966-04-06 00:00:00|kevin309132@examp...|(92) 49813-1349|(98) 46928-5316|24073619896|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         38|  Ladeira de Rezende|    94|     Andar 2|     Viana de Minas| Gomes do Amparo|    MG|               Palau|90507-959|
|        17|      Alice|        104|  da Costa|1982-05-27 00:00:00|teixeiralucas7355...|(93) 69925-5720|(92) 64089-7342|67014389548|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        104|    Praia de Martins|    13|       Box 2|             Campos|           Ramos|    PA|Ilhas Heard e McD...| 88248273|
|        18|     Marina|        152|Nascimento|1997-06-23 00:00:00|aragaoraquel6201@...|(70) 51097-7401|(48) 26131-1471|51320647871|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        152|Sítio Stephany Ar...|    41|     Sobrado|             Barros|         Correia|    MG|       Países Baixos|66931-124|
|        19|     Danilo|         72|  Monteiro|1987-04-02 00:00:00|zviana4024@exampl...|(60) 60032-3404|(18) 69441-7413|80536241970|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         72|      Lago de Santos|   651|  Pavilhão B|          Gonçalves|Azevedo de Goiás|    RS|           Hong Kong|46404-067|
|        20|     Marina|         46|      Lima|1950-05-10 00:00:00|augusto093169@exa...|(13) 74635-9266|(75) 27979-5037|25439870610|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         46|Feira Alexia da Mota|    50|     Ap. 101|              Jesus| Melo de Peixoto|    MT|República Centro-...| 83364383|
+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
only showing top 20 rows

+----------+------+-----------+---------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+--------------+--------------------+--------------------+------+--------------------+---------+
|id_cliente|  nome|id_endereco|sobrenome|    data_nascimento|               email|       telefone|        celular|        cpf|genero|        data_criacao|    data_atualizacao|status|id_endereco|                 rua|numero|   complemento|              bairro|              cidade|estado|                pais|      cep|
+----------+------+-----------+---------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+--------------+--------------------+--------------------+------+--------------------+---------+
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          1| Feira Diego da Mata|    99|       Andar 2|   Vieira das Pedras|               Porto|    SC|          Ilhas Cook|72550-245|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          2|Ladeira da Conceição|     7|      Sala 102|              Novaes|   Teixeira da Prata|    SP|                Niue|68397-923|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          3|            Via Lima|    21|        Loja 3|  Peixoto de Azevedo|      Rocha da Serra|    RJ|            Moldávia|80843-840|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          4|     Vila de Costela|    45|       Bloco A|     Teixeira Alegre|    Viana de Martins|    MG|São Vicente e Gra...|52117-647|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          5|   Vereda de Cardoso|    59|        Fundos|             Martins|        da Conceição|    SP|          Eslováquia|66960-934|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          6|    Rua Thiago Silva|    20|      Sala 101|              Fogaça|      Moura da Praia|    MA|             Vanuatu| 67454115|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          7|      Chácara da Paz|   725|  Rodovia KM 2|      Cunha do Galho|      Sales Paulista|    GO|               China|17878-687|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          8|    Chácara da Cunha|    81|   Quitinete 2|              Santos|              Moraes|    PA| Antilhas Holandesas| 45252630|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|          9|       Fazenda Porto|    39|       Ap. 102|          Cavalcanti|    Peixoto de Minas|    AC|               Tonga|09224-480|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         10| Chácara de Oliveira|    88|  Rodovia KM 2|   Sales de Ferreira|         Pinto Verde|    MA|            Bulgária| 12824806|
|         1|Esther|        163| Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         11|Vereda Ana Clara ...|     2|     Ala Norte|    Carvalho da Mata|       Dias de Lopes|    CE|                Cuba|30738-878|

In [3]:
# Exemplo de código para realizar um join e selecionar algumas colunas dos dois DataFrames
join_df = clientes_df.join(enderecos_df, "id_endereco") \
                     .select(clientes_df.id_cliente, clientes_df.nome, clientes_df.sobrenome, enderecos_df.rua, enderecos_df.cidade)
join_df.show()

+----------+-----------+----------+--------------------+----------------+
|id_cliente|       nome| sobrenome|                 rua|          cidade|
+----------+-----------+----------+--------------------+----------------+
|         1|     Esther|  Teixeira|Trecho Fernanda d...|         Ribeiro|
|         2|    Mariane|   Barbosa|Sítio Stephany Ar...|         Correia|
|         3|Ana Vitória|     Moura|Passarela Anthony...|  da Mota Alegre|
|         4|    Leandro|     Viana|      Favela Barbosa|   Duarte Grande|
|         5|     Pietro|    Santos|   Recanto Fernandes|         Costela|
|         6|    Clarice|    da Paz|      Sítio de Gomes|da Mata de Silva|
|         7|Ana Vitória|  da Cunha|   Recanto Fernandes|         Costela|
|         8| Ana Sophia|   da Mota|    Núcleo de Farias|        Silveira|
|         9|   Leonardo|    Fogaça|Vale Marcela Moreira|   Farias Alegre|
|        10|    Anthony|   Cardoso| Estrada de Teixeira|           Costa|
|        11|    Natália|    Mendes|   Vale João Azevedo|  Lopes da Praia|
|        12|       Davi|      Dias|      Estrada da Luz| Campos de Minas|
|        13|   Stephany|   Cardoso|        Lagoa Duarte|           Pinto|
|        14|      Laura|   da Cruz|        Pátio Santos|         da Cruz|
|        15| Ana Sophia|    da Luz|       Área de Souza|           Jesus|
|        16|       Levi|  Teixeira|  Ladeira de Rezende| Gomes do Amparo|
|        17|      Alice|  da Costa|    Praia de Martins|           Ramos|
|        18|     Marina|Nascimento|Sítio Stephany Ar...|         Correia|
|        19|     Danilo|  Monteiro|      Lago de Santos|Azevedo de Goiás|
|        20|     Marina|      Lima|Feira Alexia da Mota| Melo de Peixoto|
+----------+-----------+----------+--------------------+----------------+
only showing top 20 rows

In [7]:
# Carregar os DataFrames
clientes_df = spark.read.csv("arquivos/clientes.csv", header=True, inferSchema=True)
enderecos_df = spark.read.csv("arquivos/enderecos.csv", header=True, inferSchema=True)

# Inner Join
inner_join_df = clientes_df.join(enderecos_df, clientes_df.id_endereco == enderecos_df.id_endereco)
inner_join_df.show()

# Inner Join com colunas selecionadas
inner_join_df = clientes_df.join(enderecos_df, "id_endereco") \
                           .select("id_cliente", "nome", "sobrenome", "rua", "cidade", "estado")
inner_join_df.show()

# Realiza o inner join usando todas as colunas das duas tabelas
inner_join_df = clientes_df.join(enderecos_df, clientes_df.id_endereco == enderecos_df.id_endereco)
# Após realizar o join, seleciona apenas as colunas desejadas para exibir
inner_join_df.select("id_cliente", "nome", "sobrenome", "rua", "cidade").show()

+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
|id_cliente|       nome|id_endereco| sobrenome|    data_nascimento|               email|       telefone|        celular|        cpf|genero|        data_criacao|    data_atualizacao|status|id_endereco|                 rua|numero| complemento|             bairro|          cidade|estado|                pais|      cep|
+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
|         1|     Esther|        163|  Teixeira|2000-09-29 00:00:00|mariana858948@exa...|(65) 79034-9652|(22) 90597-2207|71284960331|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        163|Trecho Fernanda d...|   249|     Ap. 104|              Rocha|         Ribeiro|    PA|         Wake Island|27002-497|
|         2|    Mariane|        152|   Barbosa|2005-01-01 00:00:00|isissilva7264@exa...|(29) 25866-7664|(42) 62029-1129|38607941240|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        152|Sítio Stephany Ar...|    41|     Sobrado|             Barros|         Correia|    MG|       Países Baixos|66931-124|
|         3|Ana Vitória|         41|     Moura|1972-05-02 00:00:00|fernandesjoaquim8...|(51) 45846-4436|(79) 89364-2613|87019632440|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         41|Passarela Anthony...|     2|    Prédio 2|   das Neves Grande|  da Mota Alegre|    MG|             Albânia|80865-269|
|         4|    Leandro|         54|     Viana|1957-10-05 00:00:00|brunosilva8705@ex...|(52) 13001-4571|(61) 28192-2969|98634712591|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         54|      Favela Barbosa|     6|      Lado B|    Pires de Campos|   Duarte Grande|    MA|         Santa Lúcia|45325-317|
|         5|     Pietro|         56|    Santos|1948-11-03 00:00:00|ana-julia375761@e...|(67) 19581-9257|(71) 13107-6381|82460719396|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         56|   Recanto Fernandes|    57|   Ala Norte|             Novaes|         Costela|    ES|         Suazilândia| 66380439|
|         6|    Clarice|        113|    da Paz|1991-11-08 00:00:00|duarteotavio7887@...|(80) 38565-8710|(21) 42752-4579|80639472583|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        113|      Sítio de Gomes|     4|    Prédio 2|    Barros da Serra|da Mata de Silva|    PE|              Suécia|58024-408|
|         7|Ana Vitória|         56|  da Cunha|1998-10-06 00:00:00|caue115510@exampl...|(51) 34456-6880|(96) 28108-6057|75489310693|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         56|   Recanto Fernandes|    57|   Ala Norte|             Novaes|         Costela|    ES|         Suazilândia| 66380439|
|         8| Ana Sophia|         53|   da Mota|1965-12-18 00:00:00|moraesantonio7820...|(90) 86986-2870|(60) 19230-5176|62314759800|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         53|    Núcleo de Farias|     4|   Ala Norte|               Lima|        Silveira|    RR|            Pitcairn| 96744448|
|         9|   Leonardo|        151|    Fogaça|1983-10-21 00:00:00|teixeiraenrico929...|(85) 33246-2731|(19) 61606-3575|70893145610|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        151|Vale Marcela Moreira|    55|  Pavilhão A|  Oliveira da Serra|   Farias Alegre|    RO|              Iraque| 90103966|
|        10|    Anthony|        116|   Cardoso|1946-03-09 00:00:00|eduardo553737@exa...|(80) 58794-2587|(41) 41500-9144| 3615842707|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        116| Estrada de Teixeira|    79|    Sala 101|   Martins de Minas|           Costa|    PB|         Santa Lúcia|69274-281|
|        11|    Natália|        131|    Mendes|1945-12-15 00:00:00|maite253689@examp...|(68) 64468-8196|(38) 16566-2909|35920678186|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        131|   Vale João Azevedo|     8|     Ala Sul|            da Rosa|  Lopes da Praia|    AL|             Espanha|65564-814|
|        12|       Davi|        179|      Dias|1983-01-22 00:00:00|heloisa037394@exa...|(71) 49996-5156|(53) 91734-9403| 1672435943|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        179|      Estrada da Luz|   979|   Garagem 1|      da Cruz Verde| Campos de Minas|    RS|            Botsuana| 49103065|
|        13|   Stephany|        123|   Cardoso|1958-10-02 00:00:00|jesusesther4336@e...|(40) 96986-1005|(78) 75134-4146|63798402574|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        123|        Lagoa Duarte|   796|       Box 2|Nogueira de Correia|           Pinto|    AL|              Mônaco| 65004933|
|        14|      Laura|        118|   da Cruz|1957-07-26 00:00:00|maysaalves2332@ex...|(46) 68716-4102|(67) 88537-4949|23480765190|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        118|        Pátio Santos|    62|Vila Mariana|     Cunha do Oeste|         da Cruz|    ES|             Somália| 59904125|
|        15| Ana Sophia|        156|    da Luz|1974-07-05 00:00:00|aragaoluana6816@e...|(14) 92416-1668|(13) 73620-2140|35084619206|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        156|       Área de Souza|   381|    Mezanino|         Nascimento|           Jesus|    MG|                Laos| 66012824|
|        16|       Levi|         38|  Teixeira|1966-04-06 00:00:00|kevin309132@examp...|(92) 49813-1349|(98) 46928-5316|24073619896|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         38|  Ladeira de Rezende|    94|     Andar 2|     Viana de Minas| Gomes do Amparo|    MG|               Palau|90507-959|
|        17|      Alice|        104|  da Costa|1982-05-27 00:00:00|teixeiralucas7355...|(93) 69925-5720|(92) 64089-7342|67014389548|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        104|    Praia de Martins|    13|       Box 2|             Campos|           Ramos|    PA|Ilhas Heard e McD...| 88248273|
|        18|     Marina|        152|Nascimento|1997-06-23 00:00:00|aragaoraquel6201@...|(70) 51097-7401|(48) 26131-1471|51320647871|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|        152|Sítio Stephany Ar...|    41|     Sobrado|             Barros|         Correia|    MG|       Países Baixos|66931-124|
|        19|     Danilo|         72|  Monteiro|1987-04-02 00:00:00|zviana4024@exampl...|(60) 60032-3404|(18) 69441-7413|80536241970|     F|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         72|      Lago de Santos|   651|  Pavilhão B|          Gonçalves|Azevedo de Goiás|    RS|           Hong Kong|46404-067|
|        20|     Marina|         46|      Lima|1950-05-10 00:00:00|augusto093169@exa...|(13) 74635-9266|(75) 27979-5037|25439870610|     M|2023-10-22 01:59:...|2023-10-22 01:59:...|  true|         46|Feira Alexia da Mota|    50|     Ap. 101|              Jesus| Melo de Peixoto|    MT|República Centro-...| 83364383|
+----------+-----------+-----------+----------+-------------------+--------------------+---------------+---------------+-----------+------+--------------------+--------------------+------+-----------+--------------------+------+------------+-------------------+----------------+------+--------------------+---------+
only showing top 20 rows

+----------+-----------+----------+--------------------+----------------+------+
|id_cliente|       nome| sobrenome|                 rua|          cidade|estado|
+----------+-----------+----------+--------------------+----------------+------+
|         1|     Esther|  Teixeira|Trecho Fernanda d...|         Ribeiro|    PA|
|         2|    Mariane|   Barbosa|Sítio Stephany Ar...|         Correia|    MG|
|         3|Ana Vitória|     Moura|Passarela Anthony...|  da Mota Alegre|    MG|
|         4|    Leandro|     Viana|      Favela Barbosa|   Duarte Grande|    MA|
|         5|     Pietro|    Santos|   Recanto Fernandes|         Costela|    ES|
|         6|    Clarice|    da Paz|      Sítio de Gomes|da Mata de Silva|    PE|
|         7|Ana Vitória|  da Cunha|   Recanto Fernandes|         Costela|    ES|
|         8| Ana Sophia|   da Mota|    Núcleo de Farias|        Silveira|    RR|
|         9|   Leonardo|    Fogaça|Vale Marcela Moreira|   Farias Alegre|    RO|
|        10|    Anthony|   Cardoso| Estrada de Teixeira|           Costa|    PB|
|        11|    Natália|    Mendes|   Vale João Azevedo|  Lopes da Praia|    AL|
|        12|       Davi|      Dias|      Estrada da Luz| Campos de Minas|    RS|
|        13|   Stephany|   Cardoso|        Lagoa Duarte|           Pinto|    AL|
|        14|      Laura|   da Cruz|        Pátio Santos|         da Cruz|    ES|
|        15| Ana Sophia|    da Luz|       Área de Souza|           Jesus|    MG|
|        16|       Levi|  Teixeira|  Ladeira de Rezende| Gomes do Amparo|    MG|
|        17|      Alice|  da Costa|    Praia de Martins|           Ramos|    PA|
|        18|     Marina|Nascimento|Sítio Stephany Ar...|         Correia|    MG|
|        19|     Danilo|  Monteiro|      Lago de Santos|Azevedo de Goiás|    RS|
|        20|     Marina|      Lima|Feira Alexia da Mota| Melo de Peixoto|    MT|
+----------+-----------+----------+--------------------+----------------+------+
only showing top 20 rows

+----------+-----------+----------+--------------------+----------------+
|id_cliente|       nome| sobrenome|                 rua|          cidade|
+----------+-----------+----------+--------------------+----------------+
|         1|     Esther|  Teixeira|Trecho Fernanda d...|         Ribeiro|
|         2|    Mariane|   Barbosa|Sítio Stephany Ar...|         Correia|
|         3|Ana Vitória|     Moura|Passarela Anthony...|  da Mota Alegre|
|         4|    Leandro|     Viana|      Favela Barbosa|   Duarte Grande|
|         5|     Pietro|    Santos|   Recanto Fernandes|         Costela|
|         6|    Clarice|    da Paz|      Sítio de Gomes|da Mata de Silva|
|         7|Ana Vitória|  da Cunha|   Recanto Fernandes|         Costela|
|         8| Ana Sophia|   da Mota|    Núcleo de Farias|        Silveira|
|         9|   Leonardo|    Fogaça|Vale Marcela Moreira|   Farias Alegre|
|        10|    Anthony|   Cardoso| Estrada de Teixeira|           Costa|
|        11|    Natália|    Mendes|   Vale João Azevedo|  Lopes da Praia|
|        12|       Davi|      Dias|      Estrada da Luz| Campos de Minas|
|        13|   Stephany|   Cardoso|        Lagoa Duarte|           Pinto|
|        14|      Laura|   da Cruz|        Pátio Santos|         da Cruz|
|        15| Ana Sophia|    da Luz|       Área de Souza|           Jesus|
|        16|       Levi|  Teixeira|  Ladeira de Rezende| Gomes do Amparo|
|        17|      Alice|  da Costa|    Praia de Martins|           Ramos|
|        18|     Marina|Nascimento|Sítio Stephany Ar...|         Correia|
|        19|     Danilo|  Monteiro|      Lago de Santos|Azevedo de Goiás|
|        20|     Marina|      Lima|Feira Alexia da Mota| Melo de Peixoto|
+----------+-----------+----------+--------------------+----------------+
only showing top 20 rows

In [19]:
from pyspark.sql import functions as F
from pyspark.sql.functions import udf, col
from pyspark.sql.types import IntegerType
from datetime import datetime

# Definindo uma UDF para calcular a idade
def calculate_age(birthdate):
    today = datetime.now()
    birthdate = datetime.strptime(birthdate.split(" ")[0], "%Y-%m-%d")
    return today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

age_udf = udf(calculate_age, IntegerType())

# Adicionando uma coluna de idade ao DataFrame
clientes_df = clientes_df.withColumn("idade", age_udf(col("data_nascimento").cast("string")))

# Agregação Complexa: Calculando a média de idade por gênero
clientes_df.groupBy("genero").agg(F.avg("idade").alias("idade_media")).show()

+------+-----------------+
|genero|      idade_media|
+------+-----------------+
|     F|54.11494252873563|
|     M|54.23893805309734|
+------+-----------------+

## Exemplo no uso de Funções

In [25]:
netflix_df = spark.read.csv("arquivos/netflix/Netflix Engagement.csv", header=True, inferSchema=True)

In [27]:
netflix_df.select(F.col("Title")).show(truncate=False)

+-----------------------------------------------------------------------+
|Title                                                                  |
+-----------------------------------------------------------------------+
|The Night Agent: Season 1                                              |
|Ginny & Georgia: Season 2                                              |
|The Glory: Season 1 // 더 글로리: 시즌 1                               |
|Wednesday: Season 1                                                    |
|Queen Charlotte: A Bridgerton Story                                    |
|You: Season 4                                                          |
|La Reina del Sur: Season 3                                             |
|Outer Banks: Season 3                                                  |
|Ginny & Georgia: Season 1                                              |
|FUBAR: Season 1                                                        |
|Manifest: Season 4                                                     |
|Kaleidoscope: Limited Series                                           |
|Firefly Lane: Season 2                                                 |
|The Mother                                                             |
|Physical: 100: Season 1 // 피지컬: 100: 시즌 1                         |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈|
|Love Is Blind: Season 4                                                |
|BEEF: Season 1                                                         |
|The Diplomat: Season 1                                                 |
|Luther: The Fallen Sun                                                 |
+-----------------------------------------------------------------------+
only showing top 20 rows

In [ ]:
# Usando F.col()
df.select(F.col("nome_da_coluna"))

# Referenciando diretamente pelo nome da coluna
df.select("nome_da_coluna")

In [29]:
netflix_df.withColumn("Source", F.lit("Netflix")).select("Title", "Source").show(truncate=False)

+-----------------------------------------------------------------------+-------+
|Title                                                                  |Source |
+-----------------------------------------------------------------------+-------+
|The Night Agent: Season 1                                              |Netflix|
|Ginny & Georgia: Season 2                                              |Netflix|
|The Glory: Season 1 // 더 글로리: 시즌 1                               |Netflix|
|Wednesday: Season 1                                                    |Netflix|
|Queen Charlotte: A Bridgerton Story                                    |Netflix|
|You: Season 4                                                          |Netflix|
|La Reina del Sur: Season 3                                             |Netflix|
|Outer Banks: Season 3                                                  |Netflix|
|Ginny & Georgia: Season 1                                              |Netflix|
|FUBAR: Season 1                                                        |Netflix|
|Manifest: Season 4                                                     |Netflix|
|Kaleidoscope: Limited Series                                           |Netflix|
|Firefly Lane: Season 2                                                 |Netflix|
|The Mother                                                             |Netflix|
|Physical: 100: Season 1 // 피지컬: 100: 시즌 1                         |Netflix|
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈|Netflix|
|Love Is Blind: Season 4                                                |Netflix|
|BEEF: Season 1                                                         |Netflix|
|The Diplomat: Season 1                                                 |Netflix|
|Luther: The Fallen Sun                                                 |Netflix|
+-----------------------------------------------------------------------+-------+
only showing top 20 rows

In [30]:
netflix_df.select(F.avg("Rating").alias("Average Rating")).show()

+------------------+
|    Average Rating|
+------------------+
|6.5090563915060775|
+------------------+

In [31]:
netflix_df.select(F.sum("Hours Viewed").alias("Total Hours Viewed")).show()

+------------------+
|Total Hours Viewed|
+------------------+
|       93863600000|
+------------------+

In [32]:
netflix_df.select(F.max("Rating").alias("Max Rating"), F.min("Rating").alias("Min Rating")).show()

+----------+----------+
|Max Rating|Min Rating|
+----------+----------+
|      10.0|       1.2|
+----------+----------+

In [33]:
netflix_df.select(F.count("Title").alias("Total Titles")).show()

+------------+
|Total Titles|
+------------+
|       18334|
+------------+

In [38]:
netflix_df.withColumn("Highly Rated", F.when(F.col("Rating") >= 8, "Yes") \
                                       .otherwise("No")) \
                                       .select("Title", "Rating", "Highly Rated") \
                                       .show(truncate=False)

+-----------------------------------------------------------------------+------+------------+
|Title                                                                  |Rating|Highly Rated|
+-----------------------------------------------------------------------+------+------------+
|The Night Agent: Season 1                                              |6.0   |No          |
|Ginny & Georgia: Season 2                                              |5.7   |No          |
|The Glory: Season 1 // 더 글로리: 시즌 1                               |8.4   |Yes         |
|Wednesday: Season 1                                                    |null  |No          |
|Queen Charlotte: A Bridgerton Story                                    |7.4   |No          |
|You: Season 4                                                          |6.6   |No          |
|La Reina del Sur: Season 3                                             |7.9   |No          |
|Outer Banks: Season 3                                                  |null  |No          |
|Ginny & Georgia: Season 1                                              |5.7   |No          |
|FUBAR: Season 1                                                        |7.6   |No          |
|Manifest: Season 4                                                     |null  |No          |
|Kaleidoscope: Limited Series                                           |null  |No          |
|Firefly Lane: Season 2                                                 |null  |No          |
|The Mother                                                             |5.6   |No          |
|Physical: 100: Season 1 // 피지컬: 100: 시즌 1                         |null  |No          |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈|7.8   |No          |
|Love Is Blind: Season 4                                                |null  |No          |
|BEEF: Season 1                                                         |5.5   |No          |
|The Diplomat: Season 1                                                 |8.9   |Yes         |
|Luther: The Fallen Sun                                                 |6.4   |No          |
+-----------------------------------------------------------------------+------+------------+
only showing top 20 rows

In [41]:
netflix_df.withColumn("Title and Genre", F.concat_ws(" - ", "Title", "Genre")) \
          .select("Title and Genre") \
          .show(truncate=False)

+--------------------------------------------------------------------------------------------------------+
|Title and Genre                                                                                         |
+--------------------------------------------------------------------------------------------------------+
|The Night Agent: Season 1 - ['Biography', 'Drama', 'History']                                           |
|Ginny & Georgia: Season 2 - ['Comedy', 'Drama', 'Romance']                                              |
|The Glory: Season 1 // 더 글로리: 시즌 1 - ['Short']                                                    |
|Wednesday: Season 1 - ['Talk-Show']                                                                     |
|Queen Charlotte: A Bridgerton Story - ['Drama', 'History', 'Romance']                                   |
|You: Season 4 - ['Comedy', 'Romance']                                                                   |
|La Reina del Sur: Season 3 - ['Action', 'Crime', 'Drama']                                               |
|Outer Banks: Season 3                                                                                   |
|Ginny & Georgia: Season 1 - ['Comedy', 'Drama', 'Romance']                                              |
|FUBAR: Season 1 - ['Short', 'Comedy']                                                                   |
|Manifest: Season 4 - ['Documentary', 'Short']                                                           |
|Kaleidoscope: Limited Series                                                                            |
|Firefly Lane: Season 2                                                                                  |
|The Mother - ['Action', 'Thriller']                                                                     |
|Physical: 100: Season 1 // 피지컬: 100: 시즌 1                                                          |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈 - ['Comedy', 'Drama', 'Romance']|
|Love Is Blind: Season 4                                                                                 |
|BEEF: Season 1 - ['Drama', 'Family']                                                                    |
|The Diplomat: Season 1 - ['Short']                                                                      |
|Luther: The Fallen Sun - ['Crime', 'Drama', 'Mystery']                                                  |
+--------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [43]:
netflix_df.withColumn("Formatted Release Date", F.date_format("Release Date", "dd/MM/yyyy")) \
          .select("Release Date", "Formatted Release Date") \
          .show()

+-------------------+----------------------+
|       Release Date|Formatted Release Date|
+-------------------+----------------------+
|2023-03-23 00:00:00|            23/03/2023|
|2023-01-05 00:00:00|            05/01/2023|
|2022-12-30 00:00:00|            30/12/2022|
|2022-11-23 00:00:00|            23/11/2022|
|2023-05-04 00:00:00|            04/05/2023|
|2023-02-09 00:00:00|            09/02/2023|
|2022-12-30 00:00:00|            30/12/2022|
|2023-02-23 00:00:00|            23/02/2023|
|2021-02-24 00:00:00|            24/02/2021|
|2023-05-25 00:00:00|            25/05/2023|
|2022-11-04 00:00:00|            04/11/2022|
|2023-01-01 00:00:00|            01/01/2023|
|2022-12-02 00:00:00|            02/12/2022|
|2023-05-12 00:00:00|            12/05/2023|
|2023-01-24 00:00:00|            24/01/2023|
|2023-01-14 00:00:00|            14/01/2023|
|2023-03-24 00:00:00|            24/03/2023|
|2023-04-06 00:00:00|            06/04/2023|
|2023-04-20 00:00:00|            20/04/2023|
|2023-03-10 00:00:00|            10/03/2023|
+-------------------+----------------------+
only showing top 20 rows

In [44]:
netflix_df.withColumn("Release Timestamp", F.to_timestamp("Release Date", "yyyy-MM-dd")) \
          .select("Release Date", "Release Timestamp") \
          .show()

+-------------------+-------------------+
|       Release Date|  Release Timestamp|
+-------------------+-------------------+
|2023-03-23 00:00:00|2023-03-23 00:00:00|
|2023-01-05 00:00:00|2023-01-05 00:00:00|
|2022-12-30 00:00:00|2022-12-30 00:00:00|
|2022-11-23 00:00:00|2022-11-23 00:00:00|
|2023-05-04 00:00:00|2023-05-04 00:00:00|
|2023-02-09 00:00:00|2023-02-09 00:00:00|
|2022-12-30 00:00:00|2022-12-30 00:00:00|
|2023-02-23 00:00:00|2023-02-23 00:00:00|
|2021-02-24 00:00:00|2021-02-24 00:00:00|
|2023-05-25 00:00:00|2023-05-25 00:00:00|
|2022-11-04 00:00:00|2022-11-04 00:00:00|
|2023-01-01 00:00:00|2023-01-01 00:00:00|
|2022-12-02 00:00:00|2022-12-02 00:00:00|
|2023-05-12 00:00:00|2023-05-12 00:00:00|
|2023-01-24 00:00:00|2023-01-24 00:00:00|
|2023-01-14 00:00:00|2023-01-14 00:00:00|
|2023-03-24 00:00:00|2023-03-24 00:00:00|
|2023-04-06 00:00:00|2023-04-06 00:00:00|
|2023-04-20 00:00:00|2023-04-20 00:00:00|
|2023-03-10 00:00:00|2023-03-10 00:00:00|
+-------------------+-------------------+
only showing top 20 rows

In [47]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import IntegerType
from datetime import datetime

# Criando a SparkSession
spark = SparkSession.builder.appName("Netflix Analysis").getOrCreate()

# Carregando os dados
netflix_df = spark.read.csv("arquivos/netflix/Netflix Engagement.csv", header=True, inferSchema=True)

# Definindo a função para calcular os anos desde a data de lançamento
def years_since(release_date):
    if release_date is None:
        # Lidar com valores nulos
        return None
    elif isinstance(release_date, datetime):
        # Se release_date já for um objeto datetime
        release_year = release_date.year
    else:
        # Se release_date for uma string
        release_date = datetime.strptime(release_date, "%Y-%m-%d")
        release_year = release_date.year
    
    return datetime.now().year - release_year

# Registrando a UDF
years_since_udf = udf(years_since, IntegerType())

# Aplicando a UDF ao DataFrame
netflix_df = netflix_df.withColumn("Years Since Release", years_since_udf(col("Release Date")))
netflix_df.select("Title", "Release Date", "Years Since Release").show(truncate=False)

+-----------------------------------------------------------------------+-------------------+-------------------+
|Title                                                                  |Release Date       |Years Since Release|
+-----------------------------------------------------------------------+-------------------+-------------------+
|The Night Agent: Season 1                                              |2023-03-23 00:00:00|0                  |
|Ginny & Georgia: Season 2                                              |2023-01-05 00:00:00|0                  |
|The Glory: Season 1 // 더 글로리: 시즌 1                               |2022-12-30 00:00:00|1                  |
|Wednesday: Season 1                                                    |2022-11-23 00:00:00|1                  |
|Queen Charlotte: A Bridgerton Story                                    |2023-05-04 00:00:00|0                  |
|You: Season 4                                                          |2023-02-09 00:00:00|0                  |
|La Reina del Sur: Season 3                                             |2022-12-30 00:00:00|1                  |
|Outer Banks: Season 3                                                  |2023-02-23 00:00:00|0                  |
|Ginny & Georgia: Season 1                                              |2021-02-24 00:00:00|2                  |
|FUBAR: Season 1                                                        |2023-05-25 00:00:00|0                  |
|Manifest: Season 4                                                     |2022-11-04 00:00:00|1                  |
|Kaleidoscope: Limited Series                                           |2023-01-01 00:00:00|0                  |
|Firefly Lane: Season 2                                                 |2022-12-02 00:00:00|1                  |
|The Mother                                                             |2023-05-12 00:00:00|0                  |
|Physical: 100: Season 1 // 피지컬: 100: 시즌 1                         |2023-01-24 00:00:00|0                  |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈|2023-01-14 00:00:00|0                  |
|Love Is Blind: Season 4                                                |2023-03-24 00:00:00|0                  |
|BEEF: Season 1                                                         |2023-04-06 00:00:00|0                  |
|The Diplomat: Season 1                                                 |2023-04-20 00:00:00|0                  |
|Luther: The Fallen Sun                                                 |2023-03-10 00:00:00|0                  |
+-----------------------------------------------------------------------+-------------------+-------------------+
only showing top 20 rows

In [54]:
from pyspark.sql.functions import from_json, explode, col
from pyspark.sql.types import ArrayType, StringType

# Selecionando a coluna original e a coluna transformada
netflix_df.select("Title", "Genre").show(truncate=False)

# Supondo que a coluna 'Genre' esteja no formato de string que representa uma lista Python
# Convertendo a string em uma coluna de array
json_schema = ArrayType(StringType())
netflix_df = netflix_df.withColumn("Genre Array", from_json("Genre", json_schema))

# Explodindo a coluna de array para transformar cada elemento em uma linha separada
netflix_df.withColumn("Single Genre", explode("Genre Array")) \
          .select("Title", "Single Genre") \
          .show(truncate=False)

+-----------------------------------------------------------------------+---------------------------------+
|Title                                                                  |Genre                            |
+-----------------------------------------------------------------------+---------------------------------+
|The Night Agent: Season 1                                              |['Biography', 'Drama', 'History']|
|Ginny & Georgia: Season 2                                              |['Comedy', 'Drama', 'Romance']   |
|The Glory: Season 1 // 더 글로리: 시즌 1                               |['Short']                        |
|Wednesday: Season 1                                                    |['Talk-Show']                    |
|Queen Charlotte: A Bridgerton Story                                    |['Drama', 'History', 'Romance']  |
|You: Season 4                                                          |['Comedy', 'Romance']            |
|La Reina del Sur: Season 3                                             |['Action', 'Crime', 'Drama']     |
|Outer Banks: Season 3                                                  |null                             |
|Ginny & Georgia: Season 1                                              |['Comedy', 'Drama', 'Romance']   |
|FUBAR: Season 1                                                        |['Short', 'Comedy']              |
|Manifest: Season 4                                                     |['Documentary', 'Short']         |
|Kaleidoscope: Limited Series                                           |null                             |
|Firefly Lane: Season 2                                                 |null                             |
|The Mother                                                             |['Action', 'Thriller']           |
|Physical: 100: Season 1 // 피지컬: 100: 시즌 1                         |null                             |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈|['Comedy', 'Drama', 'Romance']   |
|Love Is Blind: Season 4                                                |null                             |
|BEEF: Season 1                                                         |['Drama', 'Family']              |
|The Diplomat: Season 1                                                 |['Short']                        |
|Luther: The Fallen Sun                                                 |['Crime', 'Drama', 'Mystery']    |
+-----------------------------------------------------------------------+---------------------------------+
only showing top 20 rows

+----------------------------------------+------------+
|Title                                   |Single Genre|
+----------------------------------------+------------+
|The Night Agent: Season 1               |Biography   |
|The Night Agent: Season 1               |Drama       |
|The Night Agent: Season 1               |History     |
|Ginny & Georgia: Season 2               |Comedy      |
|Ginny & Georgia: Season 2               |Drama       |
|Ginny & Georgia: Season 2               |Romance     |
|The Glory: Season 1 // 더 글로리: 시즌 1|Short       |
|Wednesday: Season 1                     |Talk-Show   |
|Queen Charlotte: A Bridgerton Story     |Drama       |
|Queen Charlotte: A Bridgerton Story     |History     |
|Queen Charlotte: A Bridgerton Story     |Romance     |
|You: Season 4                           |Comedy      |
|You: Season 4                           |Romance     |
|La Reina del Sur: Season 3              |Action      |
|La Reina del Sur: Season 3              |Crime       |
|La Reina del Sur: Season 3              |Drama       |
|Ginny & Georgia: Season 1               |Comedy      |
|Ginny & Georgia: Season 1               |Drama       |
|Ginny & Georgia: Season 1               |Romance     |
|FUBAR: Season 1                         |Short       |
+----------------------------------------+------------+
only showing top 20 rows

In [61]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, explode

# Criando uma SparkSession
spark = SparkSession.builder.appName("SplitExample").getOrCreate()

# Criando um DataFrame de exemplo
data = [("eu viajo, muito, pelo, mundo",)]
df = spark.createDataFrame(data, ["frase"])

df.show(truncate=False)

# Dividindo a frase em palavras com base na vírgula
# Removendo os colchetes e aspas da string antes de dividir
df = df.withColumn("palavras", split(df["frase"], ", "))

df.show(truncate=False)

# Explodindo a lista para ter cada palavra em uma linha separada
df = df.withColumn("palavra", explode("palavras"))

# Exibindo o resultado
df.select("palavra").show(truncate=False)

+----------------------------+
|frase                       |
+----------------------------+
|eu viajo, muito, pelo, mundo|
+----------------------------+

+----------------------------+------------------------------+
|frase                       |palavras                      |
+----------------------------+------------------------------+
|eu viajo, muito, pelo, mundo|[eu viajo, muito, pelo, mundo]|
+----------------------------+------------------------------+

+--------+
|palavra |
+--------+
|eu viajo|
|muito   |
|pelo    |
|mundo   |
+--------+

In [64]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Criando a SparkSession
spark = SparkSession.builder.appName("Netflix Analysis").getOrCreate()

# Carregando os dados
netflix_df = spark.read.csv("arquivos/netflix/Netflix Engagement.csv", header=True, inferSchema=True)

# Definindo a janela de tempo para agrupamento de aproximadamente 30 dias
window_spec = F.window("Release Date", "30 days")

# Agrupando as visualizações por janela de tempo
monthly_views_df = netflix_df.groupBy(window_spec).agg(F.sum("Hours Viewed").alias("Total Hours Viewed"))

# Ordenando os resultados por janela de tempo
monthly_views_ordered_df = monthly_views_df.orderBy("window")

# Exibindo os resultados ordenados
monthly_views_ordered_df.select("window", "Total Hours Viewed").show(truncate=False)

+------------------------------------------+------------------+
|window                                    |Total Hours Viewed|
+------------------------------------------+------------------+
|{2010-04-01 00:00:00, 2010-05-01 00:00:00}|35900000          |
|{2010-08-29 00:00:00, 2010-09-28 00:00:00}|33200000          |
|{2011-02-25 00:00:00, 2011-03-27 00:00:00}|12300000          |
|{2011-08-24 00:00:00, 2011-09-23 00:00:00}|94700000          |
|{2012-01-21 00:00:00, 2012-02-20 00:00:00}|3500000           |
|{2013-01-15 00:00:00, 2013-02-14 00:00:00}|20000000          |
|{2013-02-14 00:00:00, 2013-03-16 00:00:00}|20100000          |
|{2013-05-15 00:00:00, 2013-06-14 00:00:00}|16200000          |
|{2013-06-14 00:00:00, 2013-07-14 00:00:00}|48800000          |
|{2013-07-14 00:00:00, 2013-08-13 00:00:00}|24700000          |
|{2013-08-13 00:00:00, 2013-09-12 00:00:00}|2400000           |
|{2013-09-12 00:00:00, 2013-10-12 00:00:00}|900000            |
|{2013-10-12 00:00:00, 2013-11-11 00:00:00}|100000            |
|{2013-12-11 00:00:00, 2014-01-10 00:00:00}|15500000          |
|{2014-01-10 00:00:00, 2014-02-09 00:00:00}|4700000           |
|{2014-02-09 00:00:00, 2014-03-11 00:00:00}|13500000          |
|{2014-05-10 00:00:00, 2014-06-09 00:00:00}|38900000          |
|{2014-06-09 00:00:00, 2014-07-09 00:00:00}|15900000          |
|{2014-07-09 00:00:00, 2014-08-08 00:00:00}|400000            |
|{2014-08-08 00:00:00, 2014-09-07 00:00:00}|22000000          |
+------------------------------------------+------------------+
only showing top 20 rows

In [ ]:
F.window(timeColumn, windowDuration, slideDuration=None, startTime=None)

In [ ]:
from pyspark.sql.functions import window, col

views_df = ... # um DataFrame com uma coluna de timestamp chamada 'view_time'
views_df.groupBy(window(col("view_time"), "1 hour")) \
        .agg(sum("views").alias("total_views")) \
        .show()

In [66]:
netflix_cast = netflix_df.withColumn("Hours Viewed", netflix_df["Hours Viewed"].cast("integer"))
netflix_cast.select("Title","Hours Viewed").show(truncate=False)

+-----------------------------------------------------------------------+------------+
|Title                                                                  |Hours Viewed|
+-----------------------------------------------------------------------+------------+
|The Night Agent: Season 1                                              |812100000   |
|Ginny & Georgia: Season 2                                              |665100000   |
|The Glory: Season 1 // 더 글로리: 시즌 1                               |622800000   |
|Wednesday: Season 1                                                    |507700000   |
|Queen Charlotte: A Bridgerton Story                                    |503000000   |
|You: Season 4                                                          |440600000   |
|La Reina del Sur: Season 3                                             |429600000   |
|Outer Banks: Season 3                                                  |402500000   |
|Ginny & Georgia: Season 1                                              |302100000   |
|FUBAR: Season 1                                                        |266200000   |
|Manifest: Season 4                                                     |262600000   |
|Kaleidoscope: Limited Series                                           |252500000   |
|Firefly Lane: Season 2                                                 |251500000   |
|The Mother                                                             |249900000   |
|Physical: 100: Season 1 // 피지컬: 100: 시즌 1                         |235000000   |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈|234800000   |
|Love Is Blind: Season 4                                                |229700000   |
|BEEF: Season 1                                                         |221100000   |
|The Diplomat: Season 1                                                 |214100000   |
|Luther: The Fallen Sun                                                 |209700000   |
+-----------------------------------------------------------------------+------------+
only showing top 20 rows

In [72]:
from pyspark.sql.functions import concat, regexp_replace, lit

netflix_df = netflix_df.withColumn("Usando concat", concat(netflix_df["Title"], lit(" - "), netflix_df["Genre"]))
netflix_df.select("Usando concat").show(truncate=False)


netflix_df = netflix_df.withColumn("Usando regexp_replace", regexp_replace("Usando concat", "[\\[\\]']", ""))
netflix_df.select("Usando regexp_replace").show(truncate=False)

+--------------------------------------------------------------------------------------------------------+
|Usando concat                                                                                           |
+--------------------------------------------------------------------------------------------------------+
|The Night Agent: Season 1 - ['Biography', 'Drama', 'History']                                           |
|Ginny & Georgia: Season 2 - ['Comedy', 'Drama', 'Romance']                                              |
|The Glory: Season 1 // 더 글로리: 시즌 1 - ['Short']                                                    |
|Wednesday: Season 1 - ['Talk-Show']                                                                     |
|Queen Charlotte: A Bridgerton Story - ['Drama', 'History', 'Romance']                                   |
|You: Season 4 - ['Comedy', 'Romance']                                                                   |
|La Reina del Sur: Season 3 - ['Action', 'Crime', 'Drama']                                               |
|null                                                                                                    |
|Ginny & Georgia: Season 1 - ['Comedy', 'Drama', 'Romance']                                              |
|FUBAR: Season 1 - ['Short', 'Comedy']                                                                   |
|Manifest: Season 4 - ['Documentary', 'Short']                                                           |
|null                                                                                                    |
|null                                                                                                    |
|The Mother - ['Action', 'Thriller']                                                                     |
|null                                                                                                    |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈 - ['Comedy', 'Drama', 'Romance']|
|null                                                                                                    |
|BEEF: Season 1 - ['Drama', 'Family']                                                                    |
|The Diplomat: Season 1 - ['Short']                                                                      |
|Luther: The Fallen Sun - ['Crime', 'Drama', 'Mystery']                                                  |
+--------------------------------------------------------------------------------------------------------+
only showing top 20 rows

+------------------------------------------------------------------------------------------------+
|Usando regexp_replace                                                                           |
+------------------------------------------------------------------------------------------------+
|The Night Agent: Season 1 - Biography, Drama, History                                           |
|Ginny & Georgia: Season 2 - Comedy, Drama, Romance                                              |
|The Glory: Season 1 // 더 글로리: 시즌 1 - Short                                                |
|Wednesday: Season 1 - Talk-Show                                                                 |
|Queen Charlotte: A Bridgerton Story - Drama, History, Romance                                   |
|You: Season 4 - Comedy, Romance                                                                 |
|La Reina del Sur: Season 3 - Action, Crime, Drama                                               |
|null                                                                                            |
|Ginny & Georgia: Season 1 - Comedy, Drama, Romance                                              |
|FUBAR: Season 1 - Short, Comedy                                                                 |
|Manifest: Season 4 - Documentary, Short                                                         |
|null                                                                                            |
|null                                                                                            |
|The Mother - Action, Thriller                                                                   |
|null                                                                                            |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈 - Comedy, Drama, Romance|
|null                                                                                            |
|BEEF: Season 1 - Drama, Family                                                                  |
|The Diplomat: Season 1 - Short                                                                  |
|Luther: The Fallen Sun - Crime, Drama, Mystery                                                  |
+------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [77]:
from pyspark.sql.functions import to_date, datediff, current_date, date_add

netflix_df = netflix_df.withColumn("Release Date", to_date(netflix_df["Release Date"], "yyyy-MM-dd"))
netflix_df = netflix_df.withColumn("Days Since Release", datediff(current_date(), netflix_df["Release Date"]))
netflix_df = netflix_df.withColumn("30 Days Later", date_add(netflix_df["Release Date"], 30))
netflix_df.select("Release Date", "Days Since Release", "30 Days Later").show(truncate=False)

+------------+------------------+-------------+
|Release Date|Days Since Release|30 Days Later|
+------------+------------------+-------------+
|2023-03-23  |276               |2023-04-22   |
|2023-01-05  |353               |2023-02-04   |
|2022-12-30  |359               |2023-01-29   |
|2022-11-23  |396               |2022-12-23   |
|2023-05-04  |234               |2023-06-03   |
|2023-02-09  |318               |2023-03-11   |
|2022-12-30  |359               |2023-01-29   |
|2023-02-23  |304               |2023-03-25   |
|2021-02-24  |1033              |2021-03-26   |
|2023-05-25  |213               |2023-06-24   |
|2022-11-04  |415               |2022-12-04   |
|2023-01-01  |357               |2023-01-31   |
|2022-12-02  |387               |2023-01-01   |
|2023-05-12  |226               |2023-06-11   |
|2023-01-24  |334               |2023-02-23   |
|2023-01-14  |344               |2023-02-13   |
|2023-03-24  |275               |2023-04-23   |
|2023-04-06  |262               |2023-05-06   |
|2023-04-20  |248               |2023-05-20   |
|2023-03-10  |289               |2023-04-09   |
+------------+------------------+-------------+
only showing top 20 rows

In [79]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Criando a SparkSession
spark = SparkSession.builder.appName("Netflix Analysis").getOrCreate()

# Carregando os dados
netflix_df = spark.read.csv("arquivos/netflix/Netflix Engagement.csv", header=True, inferSchema=True)

# Adicionando a coluna "Viewership Score" e ordenando os dados
netflix_df = netflix_df.withColumn("Viewership Score", col("Hours Viewed") * col("Rating"))
ordered_df = netflix_df.orderBy(col("Viewership Score").desc())

# Selecionando as colunas relevantes
ordered_df.select("Title", "Hours Viewed", "Rating", "Viewership Score").show(truncate=False)

+-----------------------------------------------------------------------+------------+------+--------------------+
|Title                                                                  |Hours Viewed|Rating|Viewership Score    |
+-----------------------------------------------------------------------+------------+------+--------------------+
|The Glory: Season 1 // 더 글로리: 시즌 1                               |622800000   |8.4   |5.23152E9           |
|The Night Agent: Season 1                                              |812100000   |6.0   |4.8726E9            |
|Ginny & Georgia: Season 2                                              |665100000   |5.7   |3.79107E9           |
|Queen Charlotte: A Bridgerton Story                                    |503000000   |7.4   |3.7222E9            |
|La Reina del Sur: Season 3                                             |429600000   |7.9   |3.39384E9           |
|You: Season 4                                                          |440600000   |6.6   |2.90796E9           |
|FUBAR: Season 1                                                        |266200000   |7.6   |2.02312E9           |
|The Diplomat: Season 1                                                 |214100000   |8.9   |1.90549E9           |
|Crash Course in Romance: Limited Series // 일타 스캔들: 리미티드 시리즈|234800000   |7.8   |1.83144E9           |
|Vikings: Valhalla: Season 2                                            |205500000   |8.6   |1.7673E9            |
|Ginny & Georgia: Season 1                                              |302100000   |5.7   |1.72197E9           |
|Sweet Tooth: Season 2                                                  |182300000   |8.8   |1.6042400000000002E9|
|The Surrogacy: Season 1 // Madre de alquiler: Temporada 1              |172400000   |8.9   |1.53436E9           |
|The Marked Heart: Season 2 // Pálpito: Temporada 2                     |174300000   |8.7   |1.5164099999999998E9|
|Shadow and Bone: Season 2                                              |192900000   |7.6   |1.46604E9           |
|Extraction 2                                                           |201800000   |7.0   |1.4126E9            |
|The Mother                                                             |249900000   |5.6   |1.39944E9           |
|Luther: The Fallen Sun                                                 |209700000   |6.4   |1.34208E9           |
|Outer Banks: Season 1                                                  |184000000   |7.1   |1.3064E9            |
|Perfect Match: Season 1                                                |176800000   |7.3   |1.29064E9           |
+-----------------------------------------------------------------------+------------+------+--------------------+
only showing top 20 rows

In [23]:
from pyspark.sql import functions as F

# Lista todas as funções chamáveis no módulo 'pyspark.sql.functions'
function_list = [f for f in dir(F) if callable(getattr(F, f))]

print(function_list)

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'List', 'Optional', 'PandasUDFType', 'PythonEvalType', 'SparkContext', 'StringType', 'StructType', 'Tuple', 'Union', 'UserDefinedFunction', 'ValuesView', '_create_column_from_literal', '_create_lambda', '_create_udf', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aggregate', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_contains', 'array_distinct', 'array_except', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_remove', 'array_repeat', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_length', 'bitwiseNOT', 'bitwise_not', 'broadcast', 'bround', 'bucket', 'cast', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'element_at', 'encode', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'filter', 'first', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'hash', 'hex', 'hour', 'hours', 'hypot', 'initcap', 'input_file_name', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'map_concat', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'max', 'max_by', 'md5', 'mean', 'min', 'min_by', 'minute', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'nanvl', 'next_day', 'nth_value', 'ntile', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'percent_rank', 'percentile_approx', 'posexplode', 'posexplode_outer', 'pow', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'signum', 'sin', 'since', 'sinh', 'size', 'skewness', 'slice', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'tan', 'tanh', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_csv', 'to_date', 'to_json', 'to_str', 'to_timestamp', 'to_utc_timestamp', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'upper', 'var_pop', 'var_samp', 'variance', 'weekofyear', 'when', 'window', 'xxhash64', 'year', 'years', 'zip_with']

In [14]:
# Carregar os DataFrames
clientes_df = spark.read.csv("arquivos/clientes.csv", header=True, inferSchema=True)

# Exemplo 2: Transformações de Colunas
clientes_df = clientes_df.withColumn("maior_idade", F.year(F.current_date()) - F.year(F.col("data_nascimento")) >= 18)
clientes_df.select("nome", "data_nascimento", "maior_idade").show()

+-----------+-------------------+-----------+
|       nome|    data_nascimento|maior_idade|
+-----------+-------------------+-----------+
|     Esther|2000-09-29 00:00:00|       true|
|    Mariane|2005-01-01 00:00:00|       true|
|Ana Vitória|1972-05-02 00:00:00|       true|
|    Leandro|1957-10-05 00:00:00|       true|
|     Pietro|1948-11-03 00:00:00|       true|
|    Clarice|1991-11-08 00:00:00|       true|
|Ana Vitória|1998-10-06 00:00:00|       true|
| Ana Sophia|1965-12-18 00:00:00|       true|
|   Leonardo|1983-10-21 00:00:00|       true|
|    Anthony|1946-03-09 00:00:00|       true|
|    Natália|1945-12-15 00:00:00|       true|
|       Davi|1983-01-22 00:00:00|       true|
|   Stephany|1958-10-02 00:00:00|       true|
|      Laura|1957-07-26 00:00:00|       true|
| Ana Sophia|1974-07-05 00:00:00|       true|
|       Levi|1966-04-06 00:00:00|       true|
|      Alice|1982-05-27 00:00:00|       true|
|     Marina|1997-06-23 00:00:00|       true|
|     Danilo|1987-04-02 00:00:00|       true|
|     Marina|1950-05-10 00:00:00|       true|
+-----------+-------------------+-----------+
only showing top 20 rows

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, get_json_object, explode

# Criando a SparkSession
spark = SparkSession.builder.appName("NestedDataExample").getOrCreate()

# Carregando o arquivo JSON
order_df = spark.read.option("multiline", "true").json("arquivos/order.json")

# Imprimindo o esquema do DataFrame para verificar a estrutura
order_df.printSchema()

root
 |-- carrier: string (nullable = true)
 |-- carrier_data: struct (nullable = true)
 |    |-- plp_master_id: string (nullable = true)
 |    |-- postcard: string (nullable = true)
 |    |-- tag_number: string (nullable = true)
 |-- content_declaration: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- description: string (nullable = true)
 |    |    |-- qty: string (nullable = true)
 |    |    |-- value: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- data: struct (nullable = true)
 |    |-- code: string (nullable = true)
 |    |-- discount_service_code: string (nullable = true)
 |    |-- order_id: string (nullable = true)
 |    |-- payment: struct (nullable = true)
 |    |    |-- credit_card: struct (nullable = true)
 |    |    |    |-- created_at: struct (nullable = true)
 |    |    |    |    |-- _nanoseconds: long (nullable = true)
 |    |    |    |    |-- _seconds: long (nullable = true)
 |    |    |    |-- details: struct (nullable = true)
 |    |    |    |    |-- expirationDate: string (nullable = true)
 |    |    |    |    |-- maskedCC: string (nullable = true)
 |    |    |    |    |-- type: string (nullable = true)
 |    |    |    |-- is_default: boolean (nullable = true)
 |    |    |    |-- lastUpdate: struct (nullable = true)
 |    |    |    |    |-- _nanoseconds: long (nullable = true)
 |    |    |    |    |-- _seconds: long (nullable = true)
 |    |    |    |-- public_hash: string (nullable = true)
 |    |    |    |-- public_hashes: struct (nullable = true)
 |    |    |    |    |-- iugu: struct (nullable = true)
 |    |    |    |    |    |-- payment_method_code: string (nullable = true)
 |    |    |    |    |    |-- public_hash: string (nullable = true)
 |    |    |    |-- uid: string (nullable = true)
 |    |    |    |-- updated_at: struct (nullable = true)
 |    |    |    |    |-- _nanoseconds: long (nullable = true)
 |    |    |    |    |-- _seconds: long (nullable = true)
 |    |    |    |-- used_at: struct (nullable = true)
 |    |    |    |    |-- _nanoseconds: long (nullable = true)
 |    |    |    |    |-- _seconds: long (nullable = true)
 |    |    |-- use_store_credit: boolean (nullable = true)
 |    |-- tag: struct (nullable = true)
 |    |    |-- content_declaration: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- description: string (nullable = true)
 |    |    |    |    |-- qty: string (nullable = true)
 |    |    |    |    |-- value: string (nullable = true)
 |    |    |-- destiny: struct (nullable = true)
 |    |    |    |-- askForRegionCity: boolean (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- complement: string (nullable = true)
 |    |    |    |-- cpf_cnpj: string (nullable = true)
 |    |    |    |-- district: string (nullable = true)
 |    |    |    |-- email: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- number: string (nullable = true)
 |    |    |    |-- order_number: string (nullable = true)
 |    |    |    |-- postcode: string (nullable = true)
 |    |    |    |-- region: string (nullable = true)
 |    |    |    |-- selected_city: string (nullable = true)
 |    |    |    |-- selected_region: string (nullable = true)
 |    |    |    |-- street: string (nullable = true)
 |    |    |-- origin: struct (nullable = true)
 |    |    |    |-- askForRegionCity: boolean (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- complement: string (nullable = true)
 |    |    |    |-- cpf_cnpj: string (nullable = true)
 |    |    |    |-- district: string (nullable = true)
 |    |    |    |-- email: string (nullable = true)
 |    |    |    |-- firstname: string (nullable = true)
 |    |    |    |-- lastname: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- number: string (nullable = true)
 |    |    |    |-- phone: string (nullable = true)
 |    |    |    |-- phone_number: string (nullable = true)
 |    |    |    |-- postcode: string (nullable = true)
 |    |    |    |-- region: string (nullable = true)
 |    |    |    |-- selected_city: string (nullable = true)
 |    |    |    |-- selected_region: string (nullable = true)
 |    |    |    |-- street: string (nullable = true)
 |-- history: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- date: struct (nullable = true)
 |    |    |    |-- _nanoseconds: long (nullable = true)
 |    |    |    |-- _seconds: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- status: string (nullable = true)
 |    |    |-- user_notify: boolean (nullable = true)
 |-- ip: string (nullable = true)
 |-- magento_data: struct (nullable = true)
 |    |-- cart: string (nullable = true)
 |    |-- order_number: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- payment: struct (nullable = true)
 |    |-- amount_charged_to_credit_card: long (nullable = true)
 |    |-- applied_credit_amount: double (nullable = true)
 |    |-- credit_to_be_used: double (nullable = true)
 |    |-- use_credit_card: boolean (nullable = true)
 |    |-- use_free_shipping: boolean (nullable = true)
 |    |-- use_store_credit: boolean (nullable = true)
 |-- service_calculated: struct (nullable = true)
 |    |-- bonus: long (nullable = true)
 |    |-- code: string (nullable = true)
 |    |-- data: struct (nullable = true)
 |    |    |-- acknowledgment_of_receipt: string (nullable = true)
 |    |    |-- declared_value: string (nullable = true)
 |    |    |-- declared_value_option: string (nullable = true)
 |    |    |-- depth: long (nullable = true)
 |    |    |-- destination_postcode: string (nullable = true)
 |    |    |-- device_os: string (nullable = true)
 |    |    |-- diameter: string (nullable = true)
 |    |    |-- format_code: long (nullable = true)
 |    |    |-- height: long (nullable = true)
 |    |    |-- is_seller: boolean (nullable = true)
 |    |    |-- origin_postcode: string (nullable = true)
 |    |    |-- promotion_rule: struct (nullable = true)
 |    |    |    |-- banner: string (nullable = true)
 |    |    |    |-- created_at: string (nullable = true)
 |    |    |    |-- discount_value: long (nullable = true)
 |    |    |    |-- due_date: string (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- level: long (nullable = true)
 |    |    |    |-- minimum_shipping_amount: double (nullable = true)
 |    |    |    |-- owner: string (nullable = true)
 |    |    |    |-- start_date: string (nullable = true)
 |    |    |    |-- updated_at: string (nullable = true)
 |    |    |    |-- url: string (nullable = true)
 |    |    |-- self_hand: string (nullable = true)
 |    |    |-- update_count: boolean (nullable = true)
 |    |    |-- weight: long (nullable = true)
 |    |    |-- width: long (nullable = true)
 |    |-- declared_value_amount: long (nullable = true)
 |    |-- delivery_time: long (nullable = true)
 |    |-- discount_amount: double (nullable = true)
 |    |-- error: string (nullable = true)
 |    |-- has_error: boolean (nullable = true)
 |    |-- has_observation: boolean (nullable = true)
 |    |-- home_delivery: boolean (nullable = true)
 |    |-- is_contract: boolean (nullable = true)
 |    |-- level: long (nullable = true)
 |    |-- max_delivery_time: long (nullable = true)
 |    |-- min_delivery_time: long (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- observation: string (nullable = true)
 |    |-- order: long (nullable = true)
 |    |-- percent_of_total: long (nullable = true)
 |    |-- real_discount_amount: double (nullable = true)
 |    |-- receipt_notice_amount: long (nullable = true)
 |    |-- saturday_delivery: boolean (nullable = true)
 |    |-- self_hand_amount: long (nullable = true)
 |    |-- subtotal: double (nullable = true)
 |    |-- total: double (nullable = true)
 |    |-- total_with_discount: double (nullable = true)
 |    |-- total_without_discount: double (nullable = true)
 |-- status: string (nullable = true)
 |-- uid: string (nullable = true)
 |-- updated_at: string (nullable = true)

In [5]:
# Selecionando o campo 'plp_master_id' de 'carrier_data'
master_id_df = order_df.select(col("carrier_data.plp_master_id"))
master_id_df.show(truncate=False)

+-------------+
|plp_master_id|
+-------------+
|876766465    |
+-------------+

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import get_json_object, col

# Criando a SparkSession
spark = SparkSession.builder.appName("GetJSONObjectExample").getOrCreate()

# Dados de exemplo
data = [("{'name': 'Alice', 'age': 25}",), ("{'name': 'Bob', 'age': 30}",)]
schema = ["json_data"]

# Criando DataFrame
df = spark.createDataFrame(data, schema)
df.show(truncate=False)

# Extraindo o nome do JSON
df_with_name = df.select(get_json_object(col("json_data"), "$.name").alias("name"))
df_with_name.show(truncate=False)

+----------------------------+
|json_data                   |
+----------------------------+
|{'name': 'Alice', 'age': 25}|
|{'name': 'Bob', 'age': 30}  |
+----------------------------+

+-----+
|name |
+-----+
|Alice|
|Bob  |
+-----+

In [21]:
print("Antes do explode(content_declaration)")
order_df.select("content_declaration").show(truncate=False)
# Explodindo e selecionando elementos do array 'content_declaration'
content_decl_df = order_df.selectExpr("explode(content_declaration) as content_item")
print("Depois do explode(content_declaration)")
# Selecionando detalhes específicos de cada item
content_decl_df.select("content_item.description", "content_item.qty", "content_item.value").show(truncate=False)

Antes do explode(content_declaration)
+-----------------------+
|content_declaration    |
+-----------------------+
|[{Diversos, 1, 190.00}]|
+-----------------------+

Depois do explode(content_declaration)
+-----------+---+------+
|description|qty|value |
+-----------+---+------+
|Diversos   |1  |190.00|
+-----------+---+------+

## Seção: Lidando com Dados Faltantes em PySpark

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, isnan, when, count

# Criando a SparkSession
spark = SparkSession.builder.appName("NetflixDataAnalysis").getOrCreate()

# Carregando os dados da Netflix
netflix_df = spark.read.csv("arquivos/netflix/Netflix Engagement.csv", header=True, inferSchema=True)
netflix_df.show()

+--------------------+-------------------+-------------------+------------+-----------------+------+--------------------+--------------------+--------------------+
|               Title|Available Globally?|       Release Date|Hours Viewed|Number of Ratings|Rating|               Genre|           Key Words|         Description|
+--------------------+-------------------+-------------------+------------+-----------------+------+--------------------+--------------------+--------------------+
|The Night Agent: ...|                Yes|2023-03-23 00:00:00|   812100000|           7696.0|   6.0|['Biography', 'Dr...|persian empire,em...|                null|
|Ginny & Georgia: ...|                Yes|2023-01-05 00:00:00|   665100000|           5216.0|   5.7|['Comedy', 'Drama...|producer,three wo...|The film follows ...|
|The Glory: Season...|                Yes|2022-12-30 00:00:00|   622800000|          11869.0|   8.4|           ['Short']|                null|                null|
| Wednesday: Season 1|                Yes|2022-11-23 00:00:00|   507700000|             null|  null|       ['Talk-Show']|       youtube video|MsMojo counts dow...|
|Queen Charlotte: ...|                Yes|2023-05-04 00:00:00|   503000000|          50077.0|   7.4|['Drama', 'Histor...|prequel,queen,his...|Betrothed against...|
|       You: Season 4|                Yes|2023-02-09 00:00:00|   440600000|          45624.0|   6.6|['Comedy', 'Roman...|christmas,coming ...|A holiday romanti...|
|La Reina del Sur:...|                 No|2022-12-30 00:00:00|   429600000|           3323.0|   7.9|['Action', 'Crime...|telenovela,drug t...|                null|
|Outer Banks: Seas...|                Yes|2023-02-23 00:00:00|   402500000|             null|  null|                null|                null|                null|
|Ginny & Georgia: ...|                Yes|2021-02-24 00:00:00|   302100000|           5216.0|   5.7|['Comedy', 'Drama...|producer,three wo...|The film follows ...|
|     FUBAR: Season 1|                Yes|2023-05-25 00:00:00|   266200000|             35.0|   7.6| ['Short', 'Comedy']|                null|Uzo Aduba auditio...|
|  Manifest: Season 4|                Yes|2022-11-04 00:00:00|   262600000|             null|  null|['Documentary', '...|                null|                null|
|Kaleidoscope: Lim...|                Yes|2023-01-01 00:00:00|   252500000|             null|  null|                null|                null|                null|
|Firefly Lane: Sea...|                Yes|2022-12-02 00:00:00|   251500000|             null|  null|                null|                null|                null|
|          The Mother|                Yes|2023-05-12 00:00:00|   249900000|          44102.0|   5.6|['Action', 'Thril...|female protagonis...|While fleeing fro...|
|Physical: 100: Se...|                Yes|2023-01-24 00:00:00|   235000000|             null|  null|                null|                null|                null|
|Crash Course in R...|                Yes|2023-01-14 00:00:00|   234800000|           3963.0|   7.8|['Comedy', 'Drama...|teacher,tutor,mot...|Retired ex nation...|
|Love Is Blind: Se...|                Yes|2023-03-24 00:00:00|   229700000|             null|  null|                null|                null|                null|
|      BEEF: Season 1|                Yes|2023-04-06 00:00:00|   221100000|           7143.0|   5.5| ['Drama', 'Family']|close up of eye,c...|Wife and mother M...|
|The Diplomat: Sea...|                Yes|2023-04-20 00:00:00|   214100000|             65.0|   8.9|           ['Short']|                null|Celebrate the end...|
|Luther: The Falle...|                Yes|2023-03-10 00:00:00|   209700000|          60515.0|   6.4|['Crime', 'Drama'...|psychological thr...|Brilliant but dis...|
+--------------------+-------------------+-------------------+------------+-----------------+------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [25]:
# Selecionar colunas numéricas para aplicar a função isnan
numeric_cols = ['Hours Viewed', 'Number of Ratings', 'Rating']

# Criar uma lista de verificações de nulidade para todas as colunas
null_checks = [
    count(when(isnan(c) | col(c).isNull(), c)).alias(c) 
    if c in numeric_cols else 
    count(when(col(c).isNull(), c)).alias(c) 
    for c in netflix_df.columns
]

# Aplicar as verificações de nulidade
netflix_df.select(null_checks).show()

+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+
|Title|Available Globally?|Release Date|Hours Viewed|Number of Ratings|Rating|Genre|Key Words|Description|
+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+
|    0|                  2|       13455|           2|             4112|  4112| 2573|     5533|       7715|
+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+

In [26]:
netflix_df_filled = netflix_df.fillna({'Hours Viewed': 0, 'Rating': 5.0})

In [27]:
from pyspark.sql.functions import mean
mean_val = netflix_df.select(mean(netflix_df['Rating'])).collect()[0][0]
netflix_df_filled = netflix_df.fillna({'Rating': mean_val})

In [29]:
# Excluir qualquer linha que contenha pelo menos um valor nulo
netflix_df_dropped = netflix_df.dropna()

# Remover linhas onde todos os campos estão nulos
netflix_df_dropped = netflix_df.dropna(how='all')

# Onde qualquer campo está nulo, faz o mesmo que .dropna()
netflix_df_dropped = netflix_df.dropna(how='any')

In [30]:
netflix_df.select([count(when(col(c).isNull(), c)).alias(c) for c in netflix_df.columns]).show()

+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+
|Title|Available Globally?|Release Date|Hours Viewed|Number of Ratings|Rating|Genre|Key Words|Description|
+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+
|    0|                  2|       13455|           2|             4112|  4112| 2573|     5533|       7715|
+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+

In [31]:
netflix_df_dropped.select([count(when(col(c).isNull(), c)).alias(c) for c in netflix_df_dropped.columns]).show()

+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+
|Title|Available Globally?|Release Date|Hours Viewed|Number of Ratings|Rating|Genre|Key Words|Description|
+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+
|    0|                  0|           0|           0|                0|     0|    0|        0|          0|
+-----+-------------------+------------+------------+-----------------+------+-----+---------+-----------+

In [32]:
from pyspark.sql.functions import avg, stddev

netflix_df_filled.select(
    avg('Rating').alias('Average Rating'),
    stddev('Rating').alias('Rating Standard Deviation')
).show()

+-----------------+-------------------------+
|   Average Rating|Rating Standard Deviation|
+-----------------+-------------------------+
|6.509056391505675|       1.0814082573969044|
+-----------------+-------------------------+

In [34]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, month, count

# Criando a SparkSession
spark = SparkSession.builder.appName("NetflixTitlesByYearMonth").getOrCreate()

# Carregando os dados da Netflix
netflix_df = spark.read.csv("arquivos/netflix/Netflix Engagement.csv", header=True, inferSchema=True)

# Extraindo o ano e o mês da coluna "Release Date"
netflix_df = netflix_df.withColumn("Year", year("Release Date"))
netflix_df = netflix_df.withColumn("Month", month("Release Date"))

# Agrupando por ano e mês, e contando os títulos
titles_by_year_month = netflix_df.groupBy("Year", "Month").agg(count("Title").alias("NumTitles"))

# Ordenando os resultados por ano e mês de forma crescente
titles_by_year_month_ordered = titles_by_year_month.orderBy("Year", "Month")

# Exibindo o resultado
titles_by_year_month_ordered.show()

+----+-----+---------+
|Year|Month|NumTitles|
+----+-----+---------+
|null| null|    13455|
|2010|    4|        3|
|2010|    9|        5|
|2011|    3|        2|
|2011|    9|        1|
|2012|    2|        1|
|2013|    2|        2|
|2013|    5|        2|
|2013|    7|        2|
|2013|    8|        1|
|2013|    9|        1|
|2013|   11|        1|
|2013|   12|        3|
|2014|    1|        3|
|2014|    2|        1|
|2014|    5|        2|
|2014|    6|        2|
|2014|    7|        1|
|2014|    8|        3|
|2014|    9|        6|
+----+-----+---------+
only showing top 20 rows

In [37]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from itertools import product
from datetime import datetime

# Criando a SparkSession
spark = SparkSession.builder.appName("CompleteMonthsNetflixData").getOrCreate()

# Carregando os dados da Netflix
netflix_df = spark.read.csv("arquivos/netflix/Netflix Engagement.csv", header=True, inferSchema=True)

# Extraindo o ano e o mês da coluna "Release Date"
netflix_df = netflix_df.withColumn("Year", year("Release Date"))
netflix_df = netflix_df.withColumn("Month", month("Release Date"))

# Criando um DataFrame com todos os meses de um período específico
years = range(2010, 2024)  # Por exemplo, de 2018 a 2023
months = range(1, 13)  # Todos os meses

# Produto cartesiano de anos e meses
year_month_list = list(product(years, months))
year_month_df = spark.createDataFrame(year_month_list, ["Year", "Month"])

# Agrupando os dados da Netflix por ano e mês, e contando os títulos
titles_by_year_month = netflix_df.groupBy("Year", "Month").agg(count("Title").alias("NumTitles"))

# Realizando a junção para incluir meses sem títulos
complete_titles_by_year_month = year_month_df.join(titles_by_year_month, ["Year", "Month"], "left_outer")

# Preenchendo os valores nulos com zero
complete_titles_by_year_month = complete_titles_by_year_month.fillna({'NumTitles': 0})

# Ordenando os resultados por ano e mês de forma crescente
complete_titles_by_year_month_ordered = complete_titles_by_year_month.orderBy("Year", "Month")

# Exibindo o resultado
complete_titles_by_year_month_ordered.show()

+----+-----+---------+
|Year|Month|NumTitles|
+----+-----+---------+
|2010|    1|        0|
|2010|    2|        0|
|2010|    3|        0|
|2010|    4|        3|
|2010|    5|        0|
|2010|    6|        0|
|2010|    7|        0|
|2010|    8|        0|
|2010|    9|        5|
|2010|   10|        0|
|2010|   11|        0|
|2010|   12|        0|
|2011|    1|        0|
|2011|    2|        0|
|2011|    3|        2|
|2011|    4|        0|
|2011|    5|        0|
|2011|    6|        0|
|2011|    7|        0|
|2011|    8|        0|
+----+-----+---------+
only showing top 20 rows